@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

* {
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

@theme {
    /* Colors */
    --color-charcoal: #0f172a;
    --color-zinc-gray: #1e293b;
    --color-blue: #3b82f6;
    --color-emerald: #10b981;
    --color-rose: #f43f5e;

    --color-light-1: #f5f7fa; /* Soft base background */
    --color-light-2: #ffffff; /* Glass card base (used with blur) */
    --color-light-3: #f1f2f5; /* Sidebar and section backgrounds */
    --color-light-border: rgba(0, 0, 0, 0.05);
    --color-text-primary: #1f2937; /* Deep gray, not black */
    --color-text-secondary: #6b7280;
    --glass-shadow: 0 6px 26px rgba(0, 0, 0, 0.05);


    --zinc-50: #f8fafc,
    --zinc-800: #1e293b,

    /* Fonts */
    --sans: "Inter", sans-serif;
    --mono: "JetBrains Mono", monospace;
}

@layer components {
    main {
        padding: 32px 24px;
        max-width: 1200px;
        margin: 0 auto;
    }
}


/* globals.css or index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(107, 114, 128, 0.5);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.glass-light {
  background: rgba(59, 130, 246, 0.15);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid var(--color-light-border);
  box-shadow: var(--glass-shadow);
}

.shadow-sm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}
