@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

* {
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

:root {
  --glass-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  --color-light-1: #f9fafb;
  --blue: #2563eb;
}

.glass-light {
  box-shadow: var(--glass-shadow);
}

@theme {
    /* Colors */
    --color-charcoal: #0f172a;
    --color-zinc-gray: #1e293b;
    --color-blue: #3b82f6;
    --color-emerald: #10b981;
    --color-rose: #f43f5e;

    --color-light-1: #f9fafb;
    --color-light-2: #ffffff;
    --color-light-3: #f1f5f9;
    --color-light-border: rgba(0, 0, 0, 0.06);
    --color-text-primary: #1e293b;
    --color-text-secondary: #6b7280;


    --zinc-50: #f8fafc,
    --zinc-800: #1e293b,

    /* Fonts */
    --sans: "Inter", sans-serif;
    --mono: "JetBrains Mono", monospace;
}

@layer components {
    main {
        padding: 32px 24px;
        max-width: 1200px;
        margin: 0 auto;
    }
}


/* globals.css or index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(107, 114, 128, 0.5);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* globals.css or index.css */

.glass {
  background: rgba(255, 255, 255, 0.2); /* Slight opacity */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.6); /* Make border more visible */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.dark .glass {
  background: rgba(255, 255, 255, 0.06); /* For darker theme glass effect */
  border: 1px solid rgba(255, 255, 255, 0.15);  
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}



.shadow-sm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}
